#resultContainer {
    margin-top: 30px;
    margin-left: -1495px;
    width: 413px; 
    height: 550px; 
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
  }
  body {
    display: flex;
    align-items: flex-start;
  }
  #algorithm {
    margin: 1.5px 25px 0 -55px;
  }
  canvas {
    margin: 0 0 0 35px;
    border: 1px solid #000;
  }
  .notification {
    position: fixed;
    bottom: 20px;
    left: 7px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}